.about {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: center;
}

.about b {
    cursor: pointer; 
}

.about__profile-picture {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.about__profile-picture__circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: var(--light-color);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px var(--light-color), 0 0 30px var(--light-color),
    0 0 40px var(--light-color), 0 0 50px var(--light-color);
    animation: blink 2s infinite alternate;
    position: relative;
}

@keyframes blink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px var(--light-color),
        0 0 70px var(--light-color), 0 0 80px var(--light-color);
    }
}

.about__profile-picture__img {
    width: 105%;
    height: auto;
    position: absolute;
    top: -10%;
    right: -2%;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
}

.about__text h2 {
    font-size: 4vw;
    margin-bottom: 0vh;
}

.about__text h3 {
    font-size: 1vw;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

.about__text__div {
    width: 85%;
    padding-left: 5vw;
}

.about__text p {
    font-size: 1.2vw;
    font-weight: 900;
}

.about__text h5 {
    font-family: 'Indie Flower';
    font-size: 1.1vw;
    margin-top: 0vh;
    margin-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

@media only screen and (max-width: 700px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .about__profile-picture {
        justify-content: center;
    }

    .about__profile-picture__circle {
        width: 70vw;
        height: 70vw;
    }

    .about__text {
        padding-right: 0;
        padding: 1vh;
        border-bottom: 3vh;
    }

    .about__text h2 {
        font-size: 15vw;
        margin-top: 0;
    }

    .about__text h3 {
        font-size: 4vw;
        margin-bottom: 2vh;
    }

    .about__text__div {
        width: 100%;
        padding-left: 0;
    }

    .about__text p {
        font-size: 6vw;
        font-weight: 900;
    }

    .about__text h5 {
        font-family: 'Indie Flower';
        font-size: 5vw;
        margin-top: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    
}