.contact {
    display: grid;
    grid-template-columns: 10fr 1.5fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "title title"
    "form links";
}

#contact-form {
    grid-area: form;
    padding-left: 8%;
}

.contact p {
    grid-area: title;
    white-space: initial;
    overflow: hidden;
    margin-left: -5%
}

.contact__links {
    padding-top: 20%;
    grid-area: links;
    display: flex;
    flex-direction: column;
}

.contact__links img {
    padding: 10% 0%;
    width: 50%;
    margin-right: -3vw;
}

.contact form{
    margin: auto;
    width: 70vh;
    color: var(--background-color);
}

.contact input, textarea, select {
    color: var(--background-color);
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    margin: 1vh;
    font-size: 2.5vh;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: var(--ruler);
    background-color: var(--light-color);
    box-shadow:  inset 2px 2px 1px var(--light-color), inset 5px 7px 1px var(--background-color);
    width: 50vh;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    resize: none;
    height: 6vh;
}

.input-message {
    height: 15vh;
    padding-top: 2vh;
}

input::-webkit-input-placeholder{
    color:var(--background-color);
}
input:-moz-placeholder {
    color:var(--background-color);
}

textarea::-webkit-input-placeholder{
    color:var(--background-color);
}

textarea::-moz-placeholder {
    color:var(--background-color);
}

.contact input:focus, select:focus, textarea:focus {
    box-shadow:  inset 1px 1px 2px var(--dark-color), inset -1px -1px 2px var(--background-color);
  }


#submit-btn {
    color:var(--background-color);
    font-weight: bold;
    box-shadow: -5px -5px 3px var(--light-color),  5px 5px 20px var(--dark-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

#submit-btn:hover {
    box-shadow: -2px -2px 5px var(--background-color), 2px 2px 5px var(--dark-color);
}

#submit-btn:active {
    box-shadow: inset 1px 1px 2px var(--dark-color), inset -1px -1px 2px var(--background-color);
}

@media only screen and (max-width: 700px) { 
    .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 2fr;
        grid-template-areas: 
        "title"
        "form"
        "links";
    }

    #contact-form {
        margin: 2vh auto;
        width: 100%;
        padding: 16px;
    }

    .contact p {
        height: 100%;
        margin-left: 0;
        font-size: 6vw;
        margin-bottom: 12vw;
    }

    .contact__links {
        padding-top: 20%;
        flex-direction: row;
    }

    .contact input, textarea, select {
        width: 35vh;
    }
}