.dot {
    height: 21vh;
    width: 20vh;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 0.5vh;
    border-color: rgb(255, 255, 255);
    position:relative;
    margin: 5vh;
  }

  .mood-select {
    margin-top: 20vh;
  }

  .mood-select-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mood-select-text {
    font-size: xx-large;
  }

  .sleepy {
    background: linear-gradient(312deg, rgba(120,100,152,1) 0%, rgba(60,36,95,1) 100%);
  }

  .relaxed {
    background: linear-gradient(312deg, rgba(254,187,27,1) 0%, rgba(242,121,40,1) 100%);
  }

  .focused {
    background: linear-gradient(312deg, rgba(0,204,253,1) 0%, rgba(32,17,72,1) 100%);
  }