.navbar {
    margin: 7vh 0;
  }
  
.navbar-list {
    display: flex;
    justify-content: space-evenly;
}

.navbar-list li {
    border-radius: 50%;
    padding: 0px 5px;
}


.navbar img {
    padding-top: 5px;
    margin-bottom: -5px;
    width: 8vh;
    height: auto;
}

