header {
    margin: 6vh 10vw;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
}

.navigation-bar__icon {
    width: 4vw;
    height: auto;
}

@media only screen and (max-width: 700px) {
    .navigation-bar__icon {
        width: 15vw;
        height: auto;
        margin: 0 2vh;
    }
}