.navbar {
    margin: 7vh 0;
  }
  
.navbar-list {
    display: flex;
    justify-content: space-evenly;
}

.navbar-list li {
    border-radius: 50%;
    padding: 0px 5px;
}


.navbar img {
    padding-top: 5px;
    margin-bottom: -5px;
    width: 8vh;
    height: auto;
}

.blue-recolor {
    filter: invert(73%) sepia(71%) saturate(1833%) hue-rotate(169deg) brightness(108%) contrast(117%);
}

.pink-recolor {
    filter: invert(34%) sepia(38%) saturate(4081%) hue-rotate(301deg) brightness(101%) contrast(101%);
}
