.portofolio {
    display: grid;
    align-items: center;
    justify-items: center;
}

.portofolio__list {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
    height: 90%;
}

.portofolio__list img {
    width: 80%;
}

.portofolio__list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portofolio__list__card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: var(--light-color) 0 13px 27px -5px,rgba(0,0,0,.3) 0 8px 16px -8px;
    height: 80%;
    width: 80%;
    border-radius: 15px;
    padding: 0 5%;
}

.portofolio__list__card h3{
    font-size: 2.5vw;
    margin: 8% 0;
    white-space: nowrap;
    color: var(--background-color);
}

.portofolio__list__card h5{
    font-size: 1.1vw;
    margin: 2%;
    color: var(--background-color);
}

@media only screen and (max-width: 700px) {
    .portofolio {
        display: flex;
        justify-content: center;
    }

    .portofolio__list {
        flex-direction: column;
        height: 95%;
    }

    .portofolio__list__card {
        height: 100vw;
        width: 70vw;
        padding: 0 5%;
        margin: 3vh 0;
    }

    .portofolio__list__card__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .portofolio__list__card h3{
        font-size: 11vw;
        margin: 8% 0;
        white-space: nowrap;
        color: var(--background-color);
    }
    
    .portofolio__list__card h5{
        font-size: 5vw;
        margin: 2%;
        color: var(--background-color);
    }

}