.portofolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.slider-box {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-card {
    color: var(--background-color);
    background-color: var(--light-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45vh;
    height: 50vh;
    padding: 0 2vh;
    border-radius: 5%;
    box-shadow: rgb(56 198 255 / 81%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

.project-card h3 {
    white-space: nowrap;
    overflow: hidden;
}

.slider-box img {
    width: 250px;
}

@media only screen and (max-width: 700px) {
    .portofolio {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .slider-box {
        width: 100%;
    }

    .project-card {
        width: 50%;
        height: 30vh;
        padding: 0 2vh;
    }

    .slider-box img {
        width: 100px;
    }
}