* {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 50fr 5fr;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline {
  width: 180vh; 
  height: 70vh;
  border-radius: 10px;
  background: var(--light-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.template {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1vh auto;
  background-color: var(--background-color);
  border-radius: 10px;
  width: 169vh; 
  height: 68vh;
  margin-left: 5vh;
}

@media only screen and (max-width: 700px) {
  .arrow {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .outline {
    width: 100%;
    background-color: var(--background-color);
  }

  .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0vh 3vh 10vh 3vh;
    height: 0;
  }
}
