:root {
  --background-color: #e3d7bd;
  --common-color: #00ccfd;
  --dark-color: #2011a2;
  --light-color: #000000;
  --contrast-color: #ff34b3;
}

.color-recolor {
  filter: invert(73%) sepia(71%) saturate(1833%) hue-rotate(169deg) brightness(108%) contrast(117%); 
}

.contrast-recolor {
  filter: invert(34%) sepia(38%) saturate(4081%) hue-rotate(301deg) brightness(101%) contrast(101%);
}

.arrow img {
  width: 8vh;
  cursor: pointer;
}


body {
  margin: 0;
  font-family: 'Montserrat', 'Indie Flower', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: large;
}

a, a:visited, a:hover, a:active, a:link {
  text-decoration: none;
}

ul {
  list-style: none
}
